<!DOCTYPE html>
<html>
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'KIR Competetion' "></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/frontend.css"/>
</head>
<body>



<section class="wc text-center">
    <div class="container">
        <h1 class="jumbotron-heading">KIR Imaging Competition</h1>
        <p class="leading">
            This competition in order to highlight the significance of the imaging and microscopy in the research here at the KIR. You can enter to this competition and upload your image or video to win prize. The competition closes at 12 noon on Sunday 12 November 2017. The winners will be chosen by an external judging panel from Micron, and prizes will be awarded at a ceremony (date and time will be announced later) shortly thereafter.
        </p>
        <p><a href="/dashboard" class="btn btn-dark btn-lg animated fadeInUp homebtn">Take Part In Competetion</a></p>
    </div>
</section>


<div class="container">


    <div class="text-center timer">

        <h1 class="head-text">Time left to enter</h1>


        <div id="clockdiv" class="animated slideInDown">
            <div>
                <span class="days"></span>
                <div class="smalltext">Days</div>
            </div>
            <div>
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
            </div>
        </div>
    </div>

    <hr>






    <div class="text-center">
        <h1 class="head-text">All entries</h1>
    </div>

    <div class="row">
        <div th:each="entry:${entries}" class="col-md-4">
            <p>&nbsp;</p>
            <div class="card">
            <img th:src="@{'media/' + ${entry.mediaPath}}" class="img-fluid card-img-top"/>
                <div class="card-body">
                <h4>
                    <a th:text="${entry.title}" th:href="@{/entry(id=${entry.id})}"></a>
                </h4>
                <p th:text="@{@} +${entry.username}"></p>
                </div>
                <p>&nbsp;</p>
        </div>
    </div>












<p>&nbsp;</p>

</div>



</div><!--close container-->

<section class="sponsors">

    <div class="container">

    <div class="text-center">
        <h1 class="head-text">Sponsors</h1>
    </div>


    <div class="row">
        <div class="col-md-3 text-center top-10">
            <img src="/svg/c1.png" class="img-fluid" />
        </div>
        <div class="col-md-3 text-center top-10">
            <img src="/svg/c2.png" class="img-fluid" />
        </div>
        <div class="col-md-3 text-center top-10">
            <img src="/svg/c3.png" style="width: 178px;" class="img-fluid" />
        </div>

        <div class="col-md-3 text-center top-10">
            <img src="/svg/c5.png" class="img-fluid" />
        </div>

        <div class="col-md-12 text-center top-10" style="margin-top: 40px;">
            <h1>Atlantic Imaging Limited</h1>
        </div>
    </div>
    </div>
</section>


<div class="container">

    <p>&nbsp;</p><p>&nbsp;</p>
<div class="text-center">
    <h1 class="head-text">KIR Imaging Competition-Rules</h1>
</div>

<ol>


    <li>Entrants may enter the competition in one or both of the following categories: Light Microscopy (Histology), Advanced Epifluorescence/Confocal/MP Microscopy, Super-resolution Microscopy, and Whole Body Imaging. A maximum of one image or video may be entered into the chosen category/categories.
    </li> <li>	The submitted entry must be the entrant’s own work and he/she must work in the KIR; image should be supplemented with clear title and description.
</li> <li>	The entrant agree that the images can be used by KIR for home page (gallery), etc.
</li> <li>	Each image must be submitted in tiff or png format; the raw data can be asked later.
</li> <li>Entry and submission phase: The submission should be done before 12.11.2017 (24:00).
</li> <li>	Voting phase: In two weeks external judging panel from Micron will select two winners in each category.
</li> <li>	Winner’s selection: Every member of the judging panel will select a winner in each category; the votes will be added together, and the top 2 for each category will obtain the prizes.
</li> <li>Prizes: 1-st prise £150; 2-nd prize £100.
</li> <li>By submitting an entry to the KIR Competition, the entrant agrees to be bound by these rules. Failure to accept and comply with all competition rules shall disqualify an entrant.
</li>

</ol>

    <p>&nbsp;</p><p>&nbsp;</p>
    <div class="text-center">
        <h1 class="head-text">Contact</h1>


        <p>Dr. Volodymyr Nechyporuk-Zloy (Imaging Facility Manager)</p>



        <p>Phone: (+44) 1865612665 </p>
        <p>E-mail: volodymyr.nechyporuk-zloy@kennedy.ox.ac.uk
        </p>

        <img th:src="@{/svg/KIR.jpg}" />
    </div>




    <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

</div>


<script type="text/javascript">


    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');

        function updateClock() {
            var t = getTimeRemaining(endtime);

            daysSpan.innerHTML = t.days;
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }

        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }

    //var deadline = new Date(Date.parse(new Date()) + 30 * 24 * 60 * 60 * 1000);
    var deadline = new Date();
    deadline.setFullYear(2017, 10, 12);
    deadline.setHours(23);
    deadline.setMinutes(59);

    console.log(deadline);

    initializeClock('clockdiv', deadline);


</script>



</body>
</html>