<!DOCTYPE html>
<html>
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'KIR Competetion' "></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/frontend.css"/>
</head>
<body>

<div class="container">

    <p>&nbsp;</p>
    <div class="row">
        <div class="col-md-9">
            <a href="/dashboard" class="btn btn-link btn-lg">Home</a>
        </div>
        <div class="col-md-3">
            <div class="float-right ">
                <a href="/logout" class="btn btn-primary btn-lg ">Logout</a>
            </div>
        </div>
    </div>
    <hr>


    <div class="row justify-content-md-center">
        <div class="col-md-4 col-md-auto">




            <h3>Add entry image or video</h3>
            <hr>

            <div th:if="${errMsg}" class="alert alert-danger" th:text="${errMsg}"></div>

            <form th:action="@{/add/entry}" method="POST" id="needs-validation" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Category</label>
                    <select class="form-control form-control-lg" name="category_id">
                        <option th:each="category : ${categories}" th:text="${category.name}"
                        th:value="${category.id}">1</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>File</label>
                    <input type="file" class="form-control-file form-control-lg" name="file">
                </div>

                <button type="submit" class="btn btn-success btn-lg">Next</button>
            </form>




        </div>

    </div>
</div>

</body>
</html>